body {
  background-color: beige;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: #333;
  text-decoration: none;
}

main {
  /* max-width: 1000px; */
  margin: 0 auto;
  padding: 150px;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  margin: 0 25px;
  display: grid;
  /* justify-content: space-between; */
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card h2 {
  margin: 0;
  font-size: 24px;
}

.card p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.btn {
  text-align: center;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #666;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
}

.instagram-icon {
  color: #8a8a8a;
  font-size: 1.5rem;
  margin-left: 10px;
}

.github-icon {
  color: #8a8a8a;
  font-size: 1.5rem;
  margin-right: 10px;
}

/* CSS para dispositivos móveis */

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main {
    flex-wrap: wrap;
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  nav {
    flex-basis: 50%;
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: beige;
    display: none;
  }

  nav ul.show {
    display: block;
  }

  nav li {
    display: block;
    margin: 10px 0;
    padding: 0;
    text-align: center;
  }

  .menu-toggle {
    display: block;
  }

  .card {
    flex-basis: 100%;
    margin: 15px 25px;
  }

  footer {
    font-size: 14px;
  }
}
